<irf-page titre="Calcul de pourcentage">
	<irf-panel titre="Evolution">
		<!-- un ReactiveForm facilite l'accès à l'état de l'input dans la classe component -->
		<form [formGroup]="pourcentageForm">
			<div class="mb-3">
				<label for="utilisateur">Qui êtes vous? </label>
				<!-- template reference variable -->
				<select #utilisateurSelect formControlName="utilisateur" class="form-control">
          <!-- itération sur le résultat d'un traitement asynchrone -->
          <option *ngFor="let utilisateur of utilisateurs | async" [value]="utilisateur.prenom">{{utilisateur.prenom}}</option>
        </select>
			</div>
			<irf-text [control]="ancienneValeur" name="ancienneValeur" label="Ancienne valeur"
				(input)="ancienneValeurInput()"></irf-text>
			<irf-text [control]="nouvelleValeur" name="nouvelleValeur" label="Nouvelle valeur"
				(input)="nouvelleValeurInput()">
			</irf-text>
			<irf-text [control]="evolution" name="evolution" label="Evolution" (input)="evolutionInput()"></irf-text>
			<div *ngIf="pourcentageForm.valid">
        <!-- appel de méthode dans l'interpolation -->
        {{expliquer()}}
			</div>
		</form>
	</irf-panel>
</irf-page>